model_config_list {
 config {
    name: 'universal_model'
    base_path: '/workspace/local-files/projects/codebasics/plants-detection/universal_model'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
        }
}

